/* GUI STYLING */

/* FOR GAME SCREEN */
.root {
    -fx-background-image: url("/images/envi.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

Player > VBox {
    -fx-padding: 50;
    -fx-spacing: 30;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

/* END SCREEN */
#end-screen {
    -fx-background-image: url("/images/envi2.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

#sun-image {
    -fx-background-image: url("/images/sun.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

#map {
    -fx-background-color: rgba(255, 255, 255, .7);
    -fx-background-radius: 20px;
}

#nest > Rectangle {
    -fx-arc-width: 20;
    -fx-arc-height: 20;
}

#nest-disconnected > Rectangle {
    -fx-arc-width: 20;
    -fx-arc-height: 20;
    -fx-fill: url("/images/stone.jpg");
}

#nest-disconnected > Circle {
    -fx-stroke: GRAY;
}

HBox {
    -fx-background-image: url("/images/plank.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
    -fx-background-position: center top;
}

VBox {
    -fx-vgap: 20;
}

/* STATUS PANE DISPLAY */
VBox > .label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-label-padding: 5 5 5 40;
    -fx-background-color: rgba(255, 255, 255, .9);
    -fx-background-radius: 20px;

    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
}

#nameLbBlue {
    -fx-background-image: url(/images/blueC.png);
    -fx-text-fill: dodgerblue;
}

#nameLbYellow {
    -fx-background-image: url(/images/yellowC.png);
    -fx-text-fill: #C9A634;
}

#nameLbGreen {
    -fx-background-image: url(/images/greenC.png);
    -fx-text-fill: seagreen;
}

#nameLbRed {
    -fx-background-image: url(/images/redC.png);
    -fx-text-fill: tomato;
}

#scoreLbBlue {
    -fx-label-padding: 5;
    -fx-text-fill: dodgerblue;
}

#scoreLbYellow {
    -fx-label-padding: 5;
    -fx-text-fill: #C9A634;
}

#scoreLbGreen {
    -fx-label-padding: 5;
    -fx-text-fill: seagreen;
}

#scoreLbRed {
    -fx-label-padding: 5;
    -fx-text-fill: tomato;
}

#activityLog {
    -fx-border-width: 2px;
    -fx-border-color: #C95C34;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(GAUSSIAN, saddlebrown, 10, 0.2, 2, 2);
}

/* CHOICE-BOX CUSTOMIZATION */
#languageBox {
    -fx-background-color: linear-gradient(to right, white 5%, lightcyan 100%);
    -fx-mark-color: darkgreen;
    -fx-pref-width: 160;
}

/* BUTTON TEMPLATE */
.button, .toggle-button {
    -fx-background-radius: 20;
    -fx-padding: 5 25 5 25;
    -fx-cursor:pointer;

    -fx-min-width: 60px;
    -fx-min-height: 45px;

    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

/* PAUSE BUTTON */
#pauseBtn {
    -fx-background-color: linear-gradient(to bottom, #ff6666 5%, #ffdd57 100%);
    -fx-effect: dropshadow(GAUSSIAN, #c26134, 10, 0.2, 2, 2);
    -fx-background-image: url("/images/pause.png");
}

#pauseBtn:hover {
    -fx-background-color: linear-gradient(to bottom, #ffdd57 5%, #ff6666 100%);
}

/* Change icon from Pause to Resume and change color to green yellow */
#pauseBtn:selected {
    -fx-background-color: linear-gradient(to bottom, #d9f53b 5%, #54b500 100%);
    -fx-effect: dropshadow(GAUSSIAN, #378a20, 10, 0.2, 2, 2);
    -fx-background-image: url("/images/play.png");
}

#pauseBtn:selected:hover {
    -fx-background-color: linear-gradient(to bottom, #54b500 5%, #d9f53b 100%);
}

/* SOUND BUTTON */
#soundBtn {
    -fx-background-color: linear-gradient(to bottom, #583cc9 5%, #56e3d0 100%);
    -fx-effect: dropshadow(GAUSSIAN, #242485, 10, 0.2, 2, 2);
    -fx-background-image: url("/images/soundOn.png");
}

#soundBtn:hover {
    -fx-background-color: linear-gradient(to bottom, #56e3d0 5%, #583cc9 100%);
}

#soundBtn:selected {
    -fx-background-image: url("/images/soundOff.png");
}

/* START BUTTON */
#startBtn {
    -fx-background-radius: 50;
    -fx-background-color: linear-gradient(to bottom, #ffec64 5%, #ffab24 100%);
    -fx-effect: dropshadow(GAUSSIAN, DARKORANGE, 10, 0.2, 2, 2);
}

#startBtn:hover {
    -fx-background-color: linear-gradient(to bottom, #ffab24 5%, #ffec64 100%);
}

/* NEW GAME BUTTON */
#newGameBtn {
    -fx-background-color: linear-gradient(to bottom, #ffc4ec 5%, #aefcd6 100%);
    -fx-effect: dropshadow(GAUSSIAN, GREEN, 10, 0.2, 2, 2);
    -fx-background-image: url("/images/replay.png");
}

#newGameBtn:hover {
    -fx-background-color: linear-gradient(to bottom, #aefcd6 5%, #ffc4ec 100%);
}

/* QUIT BUTTON */
#quitBtn {
    -fx-background-color: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    -fx-effect: dropshadow(GAUSSIAN, BROWN, 10, 0.2, 2, 2);
    -fx-background-image: url("/images/quit.png");
}

#quitBtn:hover {
    -fx-background-color: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
}

/* MISCS */
#houseRec {
    -fx-arc-width: 10px;
    -fx-arc-height: 10px;
}

#houseText {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: white;
}